# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Java
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: gradle
    
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Install Google Chrome # Using shell script to install Google Chrome
      run: 
          chmod +x ./scripts/InstallChrome.sh
        ./scripts/InstallChrome.sh
  
    - name: Run Tests
      run: ./gradlew test --info # Run our tests using Gradle

    - name: Test Report
      uses: dorny/test-reporter@v1
      if: success() || failure()    # run this step even if previous step failed
      with:
          name: Run Tests            # Name of the check run which will be created
          path: build/test-results/test/TEST-*.xml    # Path to test results
          reporter: java-junit
   
    - name: Send mail
      uses: dawidd6/action-send-mail@v3
      if: failure()
      with:
        # Required mail server address:
        server_address: smtp.gmail.com
        # Required mail server port:
        server_port: 465
        # user credentials
        username: ${{secrets.EMAIL_USERNAME}}
        password: ${{secrets.EMAIL_PASSWORD}}
        # email subject
        subject: ${{github.repository}} Java CI with Gradle workflow run
        body: Build job of ${{github.repository}} has ${{job.status}} And https://github.com/csuryaprasad/GitTest1/actions/runs/1236037947
        # send email to
        to: vig92007@gmail.com,csuryaprasad@gmail.com
        # from email name
        from: Surya
        attachments: https://github.com/csuryaprasad/GitTest1/blob/master/test-output/passed.png
